<%= form_with model: passenger do |form| %>
    <div align="center" margin top=5%>
    <font size="6px" color="blue"/>
      <%= form.label :passenger_name %>
      <%= form.text_field :passenger_name %>
    </div>
  <div align="center">
    <font size="6px" color="blue"/>
    <%= form.label :phone %>
    <%= form.text_area :phone %><br>
  </div>
    <div align="center">
    <font size="6px" color="blue"/>
      <%= form.label :address %>
      <%= form.text_area :address %><br>
    </div>
        <div align="center">
        <font size="6px" color="blue"/>
          <%= form.label :email %>
          <%= form.text_area :email %><br>
        </div>
            <div align="center">
            <font size="6px" color="blue"/>
              <%= form.label :password %>
              <%= form.text_area :password %><br>
            </div> 
  <div align="center">
  <font size="6px" color="blue"/>
    <%= form.submit %>
  </div>
  <% end %>